// Jewel tones
$jewel-purple: hsl(260, 83%, 65%);
$jewel-blue: hsl(225, 83%, 65%);
$jewel-blue-light: hsl(200, 83%, 65%);
$jewel-green-light: hsl(160, 83%, 65%);
$jewel-green: hsl(110, 83%, 65%);
$jewel-yellow: hsl(60, 83%, 65%);
$jewel-orange: hsl(20, 83%, 65%);
$jewel-red: hsl(0, 83%, 65%);

// Pastel tones
$pastel-purple: hsl(260, 50%, 69%);
$pastel-blue: hsl(225, 50%, 69%);
$pastel-blue-light: hsl(200, 50%, 69%);
$pastel-green-light: hsl(160, 50%, 69%);
$pastel-green: hsl(110, 50%, 69%);
$pastel-yellow: hsl(60, 50%, 69%);
$pastel-orange: hsl(20, 50%, 69%);
$pastel-red: hsl(0, 50%, 69%);

// Earth tones
$earth-purple: hsl(260, 37%, 45%);
$earth-blue: hsl(225, 37%, 45%);
$earth-blue-light: hsl(200, 37%, 45%);
$earth-green-light: hsl(160, 37%, 45%);
$earth-green: hsl(110, 37%, 45%);
$earth-yellow: hsl(60, 37%, 45%);
$earth-orange: hsl(20, 37%, 45%);
$earth-red: hsl(0, 37%, 45%);

// fluorecent tones
$fluorecent-purple: hsl(260, 100%, 60%);
$fluorecent-blue: hsl(225, 100%, 60%);
$fluorecent-blue-light: hsl(200, 100%, 60%);
$fluorecent-green-light: hsl(160, 100%, 60%);
$fluorecent-green: hsl(110, 100%, 60%);
$fluorecent-yellow: hsl(60, 100%, 60%);
$fluorecent-orange: hsl(20, 100%, 60%);
$fluorecent-red: hsl(0, 100%, 60%);

// shades
$white: hsl(0, 0%, 100%);
$shade90: hsl(0, 0%, 90%);
$shade80: hsl(0, 0%, 80%);
$shade70: hsl(0, 0%, 70%);
$shade60: hsl(0, 0%, 60%);
$shade50: hsl(0, 0%, 50%);
$shade40: hsl(0, 0%, 40%);
$shade30: hsl(0, 0%, 30%);
$shade20: hsl(0, 0%, 20%);
$shade10: hsl(0, 0%, 10%);
$black: hsl(0, 0%, 0%);
