// main colors
$earth-purple: hsl(260, 37%, 45%);
$earth-blue: hsl(225, 37%, 45%);
$earth-blue-light: hsl(200, 37%, 45%);
$earth-green-light: hsl(160, 37%, 45%);
$earth-green: hsl(110, 37%, 45%);
$earth-yellow: hsl(60, 37%, 45%);
$earth-orange: hsl(20, 37%, 45%);
$earth-red: hsl(0, 37%, 45%);

// shades
$white: hsl(0, 0%, 100%);
$shade90: hsl(0, 0%, 90%);
$shade80: hsl(0, 0%, 80%);
$shade70: hsl(0, 0%, 70%);
$shade60: hsl(0, 0%, 60%);
$shade50: hsl(0, 0%, 50%);
$shade40: hsl(0, 0%, 40%);
$shade30: hsl(0, 0%, 30%);
$shade20: hsl(0, 0%, 20%);
$shade10: hsl(0, 0%, 10%);
$black: hsl(0, 0%, 0%);
